.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* display: flex; */
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 60px;
  width: 100%;
  margin: 0;
  display: grid;
  place-items: center;
}

nav h1 {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 45px;
}

.game {
  width: 100vw;
  height: calc(100vh - 170px);
  display: flex;
  align-items: center;
  padding-top: 2rem;
  flex-direction: column;
}

.board {
  width: 450px;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.letter {
  flex: 33%;
  height: 100%;
  min-height: 2rem;
  min-width: 2rem;
  margin: 5px;
  display: grid;
  place-items: center;
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.correct {
  background-color: #528d4e;
}

.almost {
  background-color: #b49f39;
}

.error {
  background-color: #3a393c;
}

.keyboard {
  width: 700px;
  height: 300px;
  margin-top: 60px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}

.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: grey;
  color: white;
}

#big {
  width: 100px;
}

#disabled {
  background-color: #3a393c;
}

.App.light > nav {
  border-bottom: 1px solid black;
}

.App.light > .game > .board > .row > .letter {
  color: black;
  border: 1px solid black;
}

.App.light > .game > .board > .row > .letter.almost {
  color: white;
}

.App.light > .game > .board > .row > .letter.correct {
  color: white;
}

.App.light > .game > .board > .row > .letter.error {
  color: white;
}

.App.dark > .game > .board > .row > .letter {
  border: 1px solid grey;
  color: white;
}

.App.dark > .board {
  border: 1px solid black;
}

.App.dark > nav {
  border-bottom: 1px solid grey;
}

.App.dark > nav h1 {
  color: white;
}

.App.dark {
  background-color: #121212;
  color: white;
}